{% extends "pyblog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div style="background-color:#000000" class="content-section">
        <div style="background-color:#000000" class="media">
            {% comment %} <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"> {% endcomment %}
            <div class="media-body">
                <h2 style="color:#ffc107" class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype= "multipart/form-data"> <!-- enctype to save image data in backend-->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend  class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div  class="form-group">

                <button class="btn btn-warning" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}